* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
}

.arrow-icon,
.network-icon,
.circle-icon
.square-icon {
  height: 3%;
  width: 3%;
  margin: 0 0 4% 1%;
}

.arrow2 {
  height: 10%;
}

.navigation-bar {
  background-color: #c6ac8f;
  display: flex;
  flex-direction: column;
  height: 20vh;
}

.grid {
  background-color: #0a0908;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, auto));
  height: 80%;
}

.box {
  background-color: #eae0d5;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  margin: 6%;
}

.nav-headers {

}
